      <div class="row">
         <div class="col-md-6">
          <name-filter (filterClickEvent)="filterClickEvent($event)"></name-filter>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-6">
          &nbsp;
        </div>
      </div>      

      <div class="row">
          <criteria (resultsCompleteEvent)="filterCompleteEvent($event)"></criteria>
      </div>

      <div class="row">
        <div class="col-md-*">
          <results (paginationEvent)="filterIndexClickEvent($event)"></results>
        </div>
      </div>
