      <div class="row">
         <div class="col-md-4">
          <h2>Ultimate Stock Filter</h2>
          <p>Yes, there are plenty of good stock filters out there.  This one allows some unique options, like 
             selecting only optionanable stocks.  How about only certain industry and sectors?  How about only
             dividend paying stocks with the ex date in a target range?  
          </p>
        </div>

        <div class="col-md-4">
          <h2>Stock Tip Sage</h2>
          <p>Do you ever get stock tips from your friends over drinks?  Thinking about subscribing to a stock tip service, but wondering how effective it's been in the past?  Use the application to manage, rank, and evaluate your stock tip sources.</p>
        </div>

        <div class="col-md-4">
          <h2>OBDII Ninja</h2>
          <p>Would you like to verify that your car's computer matches up with what your mechanic is telling you? Want to review your driving patterns before your insurance company does?</p>
        </div>

      </div>
